version: "3"
services:
  springBootApp:
    image: uday07/docker-postgres-springboot-demo:latest
    container_name: docker-postgres-springboot-demo-app
    environment:
      - POSTGRES_HOST=docker-postgres-springboot-demo-db
    ports:
      - "8081:8081"
    networks:
      - network
    depends_on:
      - postgresDb
    restart: on-failure

  postgresDb:
    image: postgres:13.2
    container_name: docker-postgres-springboot-demo-db
    networks:
      - network
    volumes:
      - volume:/var/lib/postgresql/data
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=spring_boot_postgres_db

networks:
  network:

volumes:
  volume: